html {
    background-color: black;
    color: white;
}
h1 {
    text-align: left;
    size: 70px;
}
.link {
    size: 60px;
    text-align: right;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
  a:hover {
    color: lightblue;
    background-color: transparent;
    text-decoration: underline;
}
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}